[Unit]
Description=Run iptables redirect at startup
After=network.target

[Service]
Type=oneshot
ExecStart=/root/iptables-rules.sh

[Install]
WantedBy=multi-user.target
