[Unit]
Description=Run iptables redirect at startup
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/sing-box/iptables/iptables-redirect.sh

[Install]
WantedBy=multi-user.target
