[Unit]
Description=sing-panel service
After=network.target
# After=network.target network-online.target sing-box.service

[Service]
WorkingDirectory=/etc/sing-panel
ExecStart=/etc/sing-panel/sing-panel
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
